<mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Enter your login</mat-label>
            <input matInput type="text" [(ngModel)]="userName">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-password]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <p style="text-align: center; color: red; ">{{error}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button style="width: 100%;" (click)="login()">
            Login
            <mat-icon>login</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>