<mat-tab-group>
    <mat-tab label="Table">
        <ng-template matTabContent>
            <table mat-table [dataSource]="loadedTransactions" style="width: 100%;">
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">{{element.Amount | currency: 'UAH':true}}</td>
                </ng-container>
                <ng-container matColumnDef="spentAt">
                    <th mat-header-cell *matHeaderCellDef>Time</th>
                    <td mat-cell *matCellDef="let element"><small>{{element.SpentAt}}</small></td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element">{{element.CategoryName}}</td>
                </ng-container>
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef>Note</th>
                    <td mat-cell *matCellDef="let element">{{element.Note}}</td>
                </ng-container>
                <ng-container matColumnDef="otpions-button">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button #tooltip="matTooltip" [matMenuTriggerFor]="menu" matTooltip="Options">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item style="color: red;" (click)="removeTransaction(element.Id)">
                                <mat-icon style="color: red;">delete_forever</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['amount', 'spentAt', 'category', 'note', 'otpions-button']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['amount', 'spentAt', 'category', 'note', 'otpions-button'];"></tr>
            </table>
        </ng-template>
    </mat-tab>
    <mat-tab label="Chart">
        <ng-template matTabContent>
            <div class="polar-chart">
                <canvas baseChart
                    [datasets]="chartDataSet" 
                    [labels]="chartDataLabels"
                    [legend]="polarChartLegend"
                    [options]="chartOptions"
                    [chartType]="lineChartType">
                </canvas>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>